/* shorter padding for menu items */
.overlay-menu-scroll .navbar-nav > li > a {
  padding: 1.285rem 0.809rem;
}

/* caret placement is shorter in menu*/
.overlay-menu-scroll .navbar-nav li.dropdown .caret {
  margin-left: -2px;
}

/* accessibility focus on menu items*/
.overlay-menu-scroll .navbar-nav a:focus {
  outline: 5px auto #378DBD;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Be able to see dropdown in large width */
/* added focus accessibility when using keyboard*/
@media (min-width: 992px) {
  .overlay-menu-scroll .dropdown:hover .dropdown-menu,
  .overlay-menu-scroll .dropdown a:focus + .dropdown-menu {
    display: block !important;
  }
}

/* start of less than or equal to 991px */
@media (max-width: 991px) {
  .overlay-menu-scroll {
    height: 100%;
    max-height: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  /* team - would you like margin below menu? */
  .navbar {
    margin-bottom: 1.5em !important;
  }

  /* font size of primary and secondary menu items */
  .overlay-menu-scroll[aria-expanded="true"] .navbar-nav li a,
  .overlay-menu-scroll[aria-expanded="true"] .navbar-nav li ul li a {
    font-size: 20px;
  }

  /* this is for x close button on overlay */
  .overlay-menu-scroll-toggle .navbar-toggle[aria-expanded="true"]:after {
    content: "\00d7";
    display: block;
    font-size: 53px;
    color: #fff;
    font-weight: bold;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 1.5rem;
    background-color: #001c48;
    background-color: rgba(0, 28, 72, .9);
  }

  /* admin bar padding */
  .navbar-administration .overlay-menu-scroll-toggle .navbar-toggle[aria-expanded="true"]:after {
    top: 39px;
  }

  /* mobile admin bar padding */
  .navbar-tray-open.navbar-administration .overlay-menu-scroll-toggle .navbar-toggle[aria-expanded="true"]:after {
    top: 79px;
  }

  /* prevent two scrolls (overlay and background) when overlay menu, js is used to add/remove */
  .overflow-hidden {
    overflow: hidden !important;
  }

  /* hamburger menu styling */
  .overlay-menu-scroll-toggle .navbar-toggle {
    position: absolute;
    display: inline-block !important;
    background-color: #0c234b;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 4em;
    width: 2.8em;
    margin: 0;
    padding: 0;
  }

  /* 'menu' on hamburger menu button */
  .overlay-menu-scroll-toggle .navbar-toggle:before {
    content: 'MENU';
    display: block;
    color: #fff;
    position: absolute;
    top: 0.5em;
    height: 1em;
    width: 100%;
    text-indent: 0;
    font-weight: bold;
    font-size: 0.75em;
  }

  /* hamburger lines */
  .overlay-menu-scroll-toggle .hamburger {
    box-sizing: content-box;
    content: "";
    position: absolute;
    overflow: hidden;
    width: 2em;
    height: 0.25em;
    border-top: 0.84em double #fff;
    border-bottom: 0.28em solid #fff;
    bottom: 0.5em;
    left: 0.35em;
  }

  /* inside the menu when hamburger icon on the side */
  .overlay-menu-scroll.collapse,
  .overlay-menu-scroll.collapsing[aria-expanded="false"] {
    overflow: hidden;
    display: block;
    max-width: 100%;
    max-width: calc(100vw - 3.8em);
    max-height: 4em;
    height: auto!important;
    padding: 0;
  }

  /* fixes full width arrows bug */
  a.flex-prev,
  a.flex-next {
    z-index: 0;
  }

  /* fixes the overlay menu doesn't cover the whole screen immediately when toggled on and off */
  .overlay-menu-scroll.collapsing {
    height: 100% !important;
  }

  .overlay-menu-scroll.collapse[aria-expanded="true"] {
    max-width: 100%;
  }

  /* overrides bootstrap primary menu links in overlay */
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    background-color: initial;
    color: #fff;
  }

  /* overlay menu positioning of items */
  .overlay-menu-scroll[aria-expanded="true"] > ul {
    overflow: visible;
  }

  /* fixes position and horizontal scrolling */
  .overlay-menu-scroll > ul {
    margin: 0;
    white-space: nowrap;
    float: none;
    max-height: 8em;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 4em;

    /* scroll end gradient that would be cool to have, but causing bugs */
    /*background-image:*/
    /* Shadows */
    /*linear-gradient(to right, white, white),*/
    /*linear-gradient(to right, white, white),*/

    /* Shadow covers */
  /*  linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
    linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;*/

    /* Opera doesn't support this in the shorthand */
   /* background-attachment: local, local, scroll, scroll;*/
  }

  /* hiding horizontal scroll bar in menu */
  .overlay-menu-scroll .navbar-nav::-webkit-scrollbar {
    background-color: transparent;
  }

  /* styling for menu items li*/
  .overlay-menu-scroll.collapse > ul > li,
  .overlay-menu-scroll.collapsing > ul > li {
    position: relative;
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* styling for overlay menu */
  .overlay-menu-scroll[aria-expanded="true"],
  .overlay-menu-scroll.collapse.in,
  .overlay-menu-scroll.collapsing[aria-expanded="true"] {
    position: fixed;
    overflow-x: auto;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    padding: 5em 1.5em 0 1.5em;
    background-color: #001C48;
    border: none;
  }

  .navbar-administration .overlay-menu-scroll.collapse.in,
  .navbar-administration .overlay-menu-scroll.collapsing[aria-expanded="true"] {
    top: 39px;
  }

  .navbar-tray-open.navbar-administration .overlay-menu-scroll.collapse.in,
  .navbar-tray-open.navbar-administration .overlay-menu-scroll.collapsing[aria-expanded="true"] {
    top: 79px;
  }

  /* horizontal menu effects */
  .overlay-menu-scroll.collapsing,
  .overlay-menu-scroll.collapse,
  .overlay-menu-scroll.collapse.in {
    border: none;
  }

  /* overlay menu stacked items */
  .overlay-menu-scroll.collapsing[aria-expanded="true"] > ul > li,
  .overlay-menu-scroll.collapse.in > ul > li {
    display: block;
  }

  /* styling for overlay menu items */
  .overlay-menu-scroll.collapse.in > ul > li > a,
  .overlay-menu-scroll.collapsing[aria-expanded="true"] > ul > li > a {
    height: 3.3em;
    padding: 0 0 0 0.5em;
    line-height: 3.3em;
    border-top: 1px solid #1E5288;
    color: #fff;
  }

  /* styling for overlay menu's last parent item*/
  .overlay-menu-scroll.collapse.in > ul > li:last-child > a,
  .overlay-menu-scroll.collapsing[aria-expanded="true"] > ul > li:last-child > a {
    border-bottom: 1px solid #1E5288;
    height: 3.38em;
  }

  /* styling for secondary drop down items, tops */
  .overlay-menu-scroll[aria-expanded="true"] ul li .dropdown-menu li a {
    border-top: 1px solid #1E5288;
    height: 3.38em;
    padding-top: 1em;
  }

  /* adds border in the last parent item for the last secondary item*/
  .overlay-menu-scroll[aria-expanded="true"] ul li.last .dropdown-menu > li.last > a {
    border-bottom: 1px solid #1E5288;
  }

  /* overrides padding at the bottom of the menu item dropdown caret box when opened */
  .overlay-menu-scroll[aria-expanded="true"] ul li .dropdown-menu {
    padding: 0;
  }

  /* dropdown menu item caret box */
  .overlay-menu-scroll.collapse.in .caret,
  .overlay-menu-scroll.collapsing[aria-expanded="true"] .caret {
    height: 3.25em;
    width: 3.25em;
    background-color: #1c2c58;
    border: 0;
    float: right;
  }

  /* caret triangles */
  .overlay-menu-scroll.collapse.in .caret:after,
  .overlay-menu-scroll.collapsing[aria-expanded="true"] .caret:after {
    content: '';
    display: block;
    border-left: 0.45em solid #fff;
    border-bottom: 0.45em solid transparent;
    border-top: 0.45em solid transparent;
    border-right: 0;
    width: auto;
    height: 0;
    margin: 1.2em 1.5em;
  }

  /* caret triangles when clicked on dropdown*/
  .overlay-menu-scroll.collapse.in ul li.open .caret:after,
  .overlay-menu-scroll.collapsing[aria-expanded="true"] ul li.open .caret:after {
    border-top-color: white;
    border-left: 0.45em solid transparent;
    border-right: 0.45em solid transparent;
    margin: 1.3em 1.2em;
  }

  /* color for secondary items */
  .overlay-menu-scroll.collapse.in ul li.open .dropdown-menu > li > a,
  .overlay-menu-scroll.collapsing[aria-expanded="true"] ul li.open .dropdown-menu > li > a {
    color: #fff;
    background-color: transparent;
  }

  /* overrides bs background grey color for active parent menu item */
  /* overrides bs dropdown secondary menu links on hover background color*/
  /* color for secondary items*/
  .navbar-default .navbar-nav > .active > a,
  .overlay-menu-scroll .navbar-nav .dropdown-menu > li > a:hover,
  .overlay-menu-scroll.in .navbar-nav .open .dropdown-menu > .active > a {
    background-color: transparent;
  }

  /* overrides bs background grey color for active parent menu item for hover and focus */
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: initial;
    color: #378DBD;
  }

  /* hover color on primary menu items*/
  /* hover color for secondary items */
  .overlay-menu-scroll.in .navbar-nav a:hover,
  .overlay-menu-scroll.in .navbar-nav .open .dropdown-menu > li > a:hover,
  .overlay-menu-scroll.in .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #378DBD;
  }

  /* secondary menu items styling */
  .overlay-menu-scroll.in .dropdown-menu li a {
    font-weight: lighter;
    text-transform: uppercase;
  }

  /* border for horizontal scroll bar */
  .navbar {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #E2E9EB;
  }

  /* removes triangle in dropdown open*/
  .overlay-menu-scroll .dropdown-menu:before {
    content: none;
  }
}

/* fixes menu bar padding issues in mobile and ipad while hamburger button is present*/
.overlay-menu-scroll[aria-expanded="false"] > ul {
  margin-right: 1em;
}

@media (min-width: 768px) and (max-width: 991px) {
  .overlay-menu-scroll > ul {
    margin-right: 2.1em;
  }
}

/* overrides bs for overlay menu in the medium viewport */
@media (min-width: 768px) and (max-width: 991px) {
  .overlay-menu-scroll .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    background-color: transparent;
  }

  /* overrides bs hover showing dropdown menu */
  .overlay-menu-scroll .dropdown-menu {
    display: none !important;
  }

  /* overrides bs hover showing dropdown to toggle menu open and close below*/
  .overlay-menu-scroll .open .dropdown-menu {
    display: block !important;
  }
}
