.w-100 {
    width: 100%;
}

/*  Must be inside an element that is positioned relatively, like  */
/*  `.paragraphs-item-uaqs-content-chunks-marquee`                 */

.container.container-absolute {
  position: absolute;
  top: 0;
  z-index: 1;
}

.paragraphs-item-uaqs-content-chunks-marquee picture *{
  visibility:hidden;
  width: 100%;
  height: auto !important;
}

.uaqs-video-background .bg-video-player-control {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
  color: #0c234b;
  z-index: -1;
  cursor: pointer;
  padding: 0.3em 0.6em;
  border: none;
  margin: 10px;
}

.uaqs-video-background .bg-video-player-control:focus,
.uaqs-video-background .bg-video-player-control:hover {
  color: #ab0520;
  border-color: #ab0520;
}

.uaqs-video-background.uaqs-video-playing .bg-video-player-control.uaqs-video-pause {
  z-index: 1;
}

.uaqs-video-background.uaqs-video-paused .bg-video-player-control.uaqs-video-play {
  z-index: 1;
}

.uaqs-video-loading .uaqs-video-container {
  opacity: 0;
}
.uaqs-video-playing .uaqs-video-container {
  opacity: 1;
}
.paragraphs-item-uaqs-content-chunks-marquee .file-video-oembed.view-mode-uaqs_bg picture * {
    visibility: visible;
}

#main > .paragraphs-item-uaqs-content-chunks-marquee {
    margin-top: 0px;
    top: -2px;
}
.banner-text-grid {
    padding: 5% 10%;
    margin-top: -45px;
}

@media (min-width: 768px) {
    .banner-text-grid {
        margin-top: -60px;
    }
}

@media (min-width: 992px) {
    .banner-text-grid {
        margin-top: -135px;
    }
}

.bottom-line {
    padding: 20px 0;
    border-bottom: 2px solid #f3f3f3;
    border-top: 2px solid #f3f3f3;
}

.paragraphs-item-uaqs-content-chunks-marquee {
    overflow: hidden;
    width: 100%;
    margin: 1em 0;
    position:relative;
}

.paragraphs-item-uaqs-content-chunks-marquee.uaqs-bg-image {
  overflow: initial;
  width: initial;
  margin: initial;
  position: relative;
}

/*Background color*/
.bg-trans-arizona-blue {
  background-color: #0c234b;
  background-color: rgba(12, 35, 75, .78);
  background-color: hsla(218, 72%, 17%, 0.78);
}
.bg-trans-sky {
  background-color: #84D2E2;
  background-color: rgba(132,210,226,0.6);
}
.bg-trans-white {
  background-color: white;
  background-color: rgba(255,255,255,0.92);
}

/*Background repeat*/
.bg-no-repeat {
  background-repeat: no-repeat;
}
/*Background size*/
.bg-size-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-size-100-w {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

/*Background attachment */
.bg-attachment-fixed {
  background-attachment: fixed;
}
.bg-attachment-scroll {
  background-attachment: scroll;
}

/*Background position */
.bg-center-vert {
  background-position-y: center;
}

.bg-center-horiz {
  background-position-x: center;
}

img.bg-image-aspect-ratio {
    width: 100% !important;
    opacity: 0;
}
.vertical-align-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.container.container-absolute {
    bottom: 0;
    float: none;
    position: absolute;
    top: 0px;
}

@media (min-width: 768px) {
  .container.container-absolute {
    margin-left: -376px;
    left:50%;
  }
}
@media (min-width: 992px) {
  .container.container-absolute {
    margin-left: -486px;
  }
}
@media (min-width: 1200px) {
  .container.container-absolute {
    margin-left: -586px;
  }
}