h6.media-heading {
    line-height: 1.3;
}
.media-list-row {
    border-bottom: 1px solid hsla(180, 10%, 94%, 1);
}
.border-bottom {
        border-bottom: 1px solid hsla(180, 10%, 94%, 1);
    }
.bg-ash-tint a.list-link-block {
    color: #49595e;
    display: block;
    font-weight: normal;

}

.bg-ash-tint a.list-link-block:hover {
    background: hsla(180, 10%, 92%, 0.9);
    color: #49595e;
    text-decoration: none;
}
.media-list-row:last-child {
    border-bottom: 0;
}
a.list-link-block:hover, a.list-link-block:focus {
    background: hsla(180,10%,94%,0.5);
    color: #49595e;
    text-decoration: none;
}
html.external-links a.list-link-block.remove-external-link-icon[target=_blank],
a.list-link-block {
    color: #49595e;
    display: block;
    font-weight: normal;
    margin: 0 -1.25em;
    padding:  1.25em;
}
img.marquee-img {
    width: 100%;
}

@media (min-width: 768px){
    .marquee-text {
        background: rgba(255, 255, 255, 0.92);
        margin: -25% 1em 1em 1em;
        overflow: hidden;
        padding: 0em 1em 1em 1em;
        position: relative;
    }
    a.marquee {
        padding-top: calc(25% + 2em);
    }
    img.marquee-img {
        margin-top: calc(-25% - 1em);
    }
}
